.list-group {
  margin-top: 30px;
}

.list-group-item {
  font-size: 1.5em;
  padding: 0.5rem 2rem;
  background-color: #bfa5a4;
  border-color: #897170;
}

span {
  font-weight: 400;
}

input[type="checkbox"] {
  margin-top: 11px;
  width: 5mm;
  height: 5mm;
  box-shadow: none !important;
  border: 0.1mm solid #767962;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #767962;
  border-color: #767962;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  border-color: #767962;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-order {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.form-select {
  max-width: 200px;
}

.done-true {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-btn {
  cursor: pointer;
  margin-left: 5px;
  background: none;
  border: none;
}
.delete-btn:hover {
  color: rgb(179, 28, 28);
  background: none;
  border: none;
}