footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-select {
  box-shadow: none !important;
}
.form-select:focus {
    border-color: #ced4da;
}

p {
    font-weight: 400;
  background-color: #767962;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
}

.btn-delete {
    margin-left: 10px;
    background-color: #501e1f;
    color: whitesmoke;
}
.btn-delete:hover {
    background-color: #7e3f2e;
    color: whitesmoke;
}
