@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Caudex', serif;
  /* color: #252525; */
  font-weight: 400;
  height: 100%;
  background-color: #bfa5a4;
  /* border-bottom: 1.6rem solid #c25e67;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 4rem; */
}

.cust-container {
  margin: 0 auto;
  min-width: 100%;
}

h2 {
  font-size: 2em;
  font-family: megrim, fantasy;
  background: #d9ccc3;
  padding: 40px;
  margin: 0;
  color: #2b282b;
  text-align: center;
}
